
@Injectable()
export class ApiClient {
  private baseUrl: string;
  constructor(
    private httpClient: HttpClient
  ) {  
    this.baseUrl = "{{apiConfig.baseUrl}}";
  }
  
  public request<T = any>(
    path: string,
    method: 'DELETE' | 'GET' | 'POST' | 'PUT',
    body?: any
  ): Observable<T> {
    const headers = new HttpHeaders({
      "Content-Type": "application/json",
    });
    const url = `${this.baseUrl}${path}`;
    return this.httpClient.request<T>(method, url, { body: body, headers: headers, withCredentials: true});
  }

{{#routes}}

  {{#outOfModule}}

  /**
  {{#comments}}
   * {{.}}
  {{/comments}}
   */
  {{name}} = ({{#routeArgs}}{{name}}{{#optional}}?{{/optional}}: {{type}}, {{/routeArgs}}) =>
    this.request<{{returnType}}>(`{{path}}`, "{{method}}"{{#bodyArg}},{{.}}{{/bodyArg}}),
  {{/outOfModule}}

  {{#combined}}
  {{moduleName}} = {
    {{#routes}}


    /**
    {{#comments}}
     * {{.}}
    {{/comments}}
     */
    {{name}}: ({{#routeArgs}}{{name}}{{#optional}}?{{/optional}}: {{type}}, {{/routeArgs}}) =>
      this.request<{{returnType}}>(`{{path}}`, "{{method}}"{{#bodyArg}}, {{.}}{{/bodyArg}}),
    {{/routes}}
  }
  {{/combined}}
{{/routes}}

}
